---
export const prerender = true;

import MainLayout from '../layouts/MainLayout.astro';
import VidMask from '../components/VidMask.astro';
import Player from '../components/player/Player.astro';
import Email from '../components/icons/Email.astro';
import Whats from '../components/icons/Whats.astro';
import Instagram from '../components/icons/Instagram.astro';
import Facebook from '../components/icons/Facebook.astro';
---

<MainLayout title = 'Red Arteria | Inicio'>
	<div class="wrapper">
		<div class="player">
			<div class="pl-header">
				<a href="/" class="pl-header-logo">red arteria</a>
			</div>
			<Player />
			<div class="pl-contacto">
				<div class="pl-contacto-header">
					<h5 class="pl-contacto-title">CONTACTO</h5>
				</div>
				<div class="pl-contacto-item">
					<Email />
					<a href="mailto:redarteria19@gmail.com">envíanos un correo, click aquí</a>
				</div>
				<div class="pl-contacto-item">
					<Whats />
					<p>whatsapp: 5573941575</p>
				</div>
				<div class="pl-contacto-item">
					<Instagram />
					<a href="https://www.instagram.com/red_arteria/?hl=en" target="_blank" rel="noopener noreferrer">@red_arteria</a>
				</div>
				<div class="pl-contacto-item">
					<Facebook />
					<a href="https://www.facebook.com/people/Red-Arteria/61556560824277/" target="_blank" rel="noopener noreferrer">Red Arteria</a>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="content-header">
				<h5 class="content-title top-title">ROCK/MÉXICO</h5>
			</div>
			<section id="vid-mask" class="section">
				<VidMask />
			</section>
			<section id="shows" class="section">
				<h2 class="section-header">PRÓXIMOS SHOWS</h2>
				<div class="next-show">
					<div class="ns-card">
						<div class="ns-c-img">
							<img src="/shows/feb21_steelwood.jpg"  alt="steelwood">
						</div>
						<div class="ns-c-data">
							<h4 class="ns-c-title content-title">Red Arteria + Steelwood</h4>
							<h5 class="ns-c-fecha">21 de febrero, 19:00hrs</h5>
							<h5>Steelwood</h5>
							<p>Chichenizta 330, letrán del valle, BJ</p>
							
							<small>Entrada Libre!</small>
						</div>
					</div>
				</div>
				<!-- <div class="next-show">
					<div class="ns-card">
						<div class="ns-c-img">
							<img src="/shows/zombie-diner.jpg"  alt="zombie diner">
						</div>
						<div class="ns-c-data">
							<h4 class="ns-c-title content-title">Ni amigos ni amor</h4>
							<h5 class="ns-c-fecha">07 de febrero, 7:00pm.</h5>
							<h5>Zombie Diner</h5>
							<p>Tlalpan #618, CDMX</p>
							
							<small>Entrada $100.00</small>
						</div>
					</div>
				</div> -->
				<!-- <div class="next-show">
					<div class="ns-card">
						<div class="ns-c-img">
							<img src="/shows/fact_show.jpg"  alt="factotum showcase">
						</div>
						<div class="ns-c-data">
							<h4 class="ns-c-title content-title">Factotum Showcase</h4>
							<h5 class="ns-c-fecha">07 de septiembre, 8:30pm.</h5>
							<h5>Factotum Records</h5>
							<p>Nicolás León 708, Jardín Balbuena, CDMX</p>
							
							<small>Entrada Libre</small>
						</div>
					</div>
				</div>
				<div class="next-show">
					<div class="ns-card">
						<div class="ns-c-img">
							<img src="/shows/verano-poster.jpg"  alt="verano de rock, 6 de julio">
						</div>
						<div class="ns-c-data">
							<h4 class="ns-c-title content-title">verano de rock</h4>
							<h5 class="ns-c-fecha">06 de julio, 4pm.</h5>
							<h5>Tony El Gordo</h5>
							<p>Mixtecas 499, Ajusco, CDMX</p>
							<a href="https://www.passline.com/eventos/verano-de-rock" target="_blank" rel="noopener noreferrer">www.passline.com</a>
							<small>Preventa $80, día del toque $100</small>
						</div>
					</div>
				</div>
				<div class="next-show">
					<div class="ns-card">
						<div class="ns-c-img">
							<img src="/shows/chelidra-poster.jpg"  alt="retrato oval, 10 años. 26 de julio">
						</div>
						<div class="ns-c-data">
							<h4 class="ns-c-title content-title">retrato oval</h4>
							<h5 class="ns-c-fecha">26 de julio, 8pm.</h5>
							<h5>Taberna del Vikingo</h5>
							<p>Carlos Pereyra 63, Viaducto Piedad, CDMX</p>
							<small>Entrada $200, cupo limitado</small>
						</div>
					</div>
				</div> -->
			</section>
			<section id="bio" class="section">
				<h2 class="section-header">NOSOTROS</h2>
				<div class="bio">

					<div class="bio-texto">
						<h4 class="ns-c-title content-title">biografía</h4>
						<p>Somos una banda de la Ciudad de México y principalmente tocamos Rock Progresivo/Alternativo. Como referencia podríamos apuntar a bandas como Faith no More, Rush, Tool, Black Sabath. Instrumentación clásica: guitarra, en ocasiones agresiva, en ocasiones dulce, pero siempre dialogando sobre una base fuerte de bajo y batería. Los temas de nuestras canciones pueden llegar a ser un poco melosos, si; tratan de amor, desamor, fe y esperanza.</p>
						<p>Como pasa con muchos grupos en la Ciudad de México, hemos tenido muchos momentos y con cada intento de concretar el proyecto hemos acumulado varias canciones que siguen estando con nosotros y que pensamos que están listas para cobrar vida de verdad.</p>
						<p>Es cierto que llevamos varios años compartiendo la experiencia de tocar juntos, hemos tenido la suerte de compartir ensayos, presentaciones y mucha música con algunos buenos amigos que por las dinámicas de la ciudad y de la vida en general hoy no están tocando con nosotros. A principios de 2023, cuando coincidimos en una sesión quienes ahora integramos el grupo: Dak, Armando y yo, Dan,	vimos algunos destellos de lo que podríamos llegar a concretar si nos decidíamos a trabajar juntos con dedicación.</p>
						<p>¿Y qué ha pasado desde entonces? Bueno, un paso a la vez: Tenemos montadas unas cuantas canciones que nos dan espacio para expresarnos como individuos y como banda. Terminamos de grabar y producir un material que nos da idea de cómo podemos hacer sonar nuestra música. En estos momentos tenemos la intención de seguir trabajando, seguir aprendiendo y seguir haciendo música que disfrutemos y que podamos compartir con el público y tal vez llegar a transmitirle a alguien las emociones que nos provoca vivir.</p>
					</div>
					<div class="bio-img">
						<img src="/fotos/tres_arteria.jpg" alt="foto de la banda">
						<h4 class="ns-c-title content-title">nosotros</h4>
						<ul>
							<li>Dan - Bajo/Voz</li>
							<li>Armando - Batería/Voz</li>
							<li>Dak - Guitarra/Voz</li>
						</ul>
					</div>
					
				</div>
			</section>
			
		</div>
		
	</div>
</MainLayout>

<style>
	body {
	}
	.wrapper {
		display: flex;
		flex-direction: row;
		/* border: 1px solid green; */
		flex-wrap: wrap;
		height: 100%;

	}

	.player {
/*		min-width: 440px;*/
		padding: 2rem 2rem 0 2rem;
		margin: 0 auto;
/*		border: 1px solid gray;*/

		flex-basis: 450px;
		flex-grow: 1;

		display: flex;
		flex-direction: column;
		align-items: center;
/*		justify-content: center;*/
	}
	.pl-header-logo {
		font-size: 2.3rem;
		letter-spacing: 1.06rem;
		font-family: CocoBiker;
		transform: translateX(10px);
		color: var(--primary);
		margin-bottom: 0.7rem;
	}
	.pl-contacto {
		text-align: center;
		padding-bottom: 2rem;
		margin-bottom: 1rem;
		border-bottom: 1px solid var(--primary);
	}
	.pl-contacto-header {
		margin: 2rem auto;
	}
	.pl-contacto-title {
		color: var(--primary);
		letter-spacing: 1.5rem;
		transform: translateX(10px);
	}
	.pl-contacto-item {
		display: flex;
/*		width: 100%;*/
/*		flex-grow: 1;*/
		justify-content: space-between;
		align-items: center;
		margin: .5rem;
/*		border: 1px solid gray;*/
	}
	.pl-contacto-item svg {
		width: 32px;
	}
	.content {
/*		height: 100vh;*/
		width: 100%;
/*		overflow: scroll;*/
		padding: 2rem 1rem 2rem 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
/*		border: 1px solid steelblue;*/
		
		flex-basis: 0;
		flex-grow: 999;
		min-width: 60%;
	}
	.content-title {
		letter-spacing: .8rem;
		transform: translateX(10px);
		width: 80%;
		margin-bottom: 2rem;
		text-transform: uppercase;
	}
	.top-title {
		width: 100%;
	}
	.section {
		width: 100%;
		min-height: 40vh;
		text-align: center;
		margin: 1.5rem 0 1rem 0;
		padding: 2rem;
		border: 1px solid gray;
/*		border-radius: 4px;*/
/*		background: #000;*/
	}
	.section-header {
		font-size: 1.5rem;
		font-weight: 400;
		letter-spacing: 1rem;
/*		border: 1px solid gray;*/
	}
	#vid-mask {
		min-height: 80px;
		margin: 0 0 1rem 0;
		border: 1px solid gray;
		background: #000;
	}

	.next-show {
		max-width: 1200px;
		margin: 2rem auto;
/*		border: 1px solid steelblue;*/
	}
	.ns-card {
		display: flex;
		flex-wrap: wrap;
		gap: .5rem;
/*		flex-direction: column;*/
	}
	.ns-c-img {
		border: 1px solid gray;
		flex-basis: 360px;
		flex-grow: 1;
	}
	.ns-c-data {
		border: 1px solid gray;
		flex-basis: 0;
		flex-grow: 999;
		min-width: 60%;
		padding: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.ns-c-title {
		min-width: 300px;
	}
	.ns-c-fecha {
		margin-bottom: 1rem;
	}
	.bio {
		margin-top: 2rem;
		text-align: left;
		display: flex;
		flex-wrap: wrap;
		gap: 3rem;
/*		border: 1px solid gray;*/
	}
	.bio-img {
		flex-basis: 400px;
		flex-grow: 1;
		min-width: 250px;
	}
	.bio-img h4 {
		font-size: 1.25rem;
		transform: translateX(0px);
		letter-spacing: 1rem;
/*		min-width: 250px;*/
		width: 100%;
/*		border: 1px solid gray;*/
	}
	.bio-texto {
		flex-basis: 0;
		flex-grow: 999;
		min-width: 60%;
/*		border: 1px solid steelblue;*/
	}
	.bio-texto h4 {
		font-size: 1.25rem;
		transform: translateX(0px);
		letter-spacing: 1rem;
		width: 100%;
		margin: 2rem 0 1rem 0;
/*		border: 1px solid gray;*/
	}
	.bio-texto img {
		margin-bottom: 1rem;
/*		border: 1px solid gray;*/
	}
	.bio-texto p {
		text-align: left;
		margin-bottom: 1rem;
	}

/*	media queries	*/
@media screen and (min-width: 700px) {
	.section {
		min-height: 70vh;
	}
	.section-header {
		font-size: 2.5rem;
		font-weight: 400;
		letter-spacing: 2rem;
	}
	.content-title {
		letter-spacing: 1.3rem;
	}
}
@media screen and (min-width: 1120px) {
	.player {
		height: 100%;
		position: fixed;
		overflow: auto;
		scrollbar-width: none;
	}
	.player::-webkit-scrollbar {
		display: none;
	}
	.content {
		margin-left: 450px;
		padding: 2rem 1rem 2rem 0;
	}
	#vid-mask {
		height: 50vh;
	}
}
@media screen and (min-width: 1560px) {
	#vid-mask {
		height: 70vh;
	}
}
</style>


